<div class="container col-lg-8">
  <div class="card mb-3 table-responsive">
    <%= image_tag("portada-4.jpeg", class: "card-img-top img-fluid") %>
    <div class="card-block">
      <div class="card-header">
        Listing students
        <%= link_to 'Back', courses_path, class: 'btn btn-secondary btn-sm float-right' %>  
      </div>
        <div class="card-body">

          <table class="table table-hover table-bordered text-center">
            <thead>
              <tr>
                <th>Last name</th>
                <th>Name</th>
                <th>Dni</th>
                <th>Student number</th>
                <th>Email</th>
                <th scope="col" colspan="2" style="text-align:center;">Options</th>
              </tr>
            </thead>

            <% @students.each do |student| %>
              <tr>
                <td><%= student.last_name %></td>
                <td><%= student.name %></td>
                <td><%= student.dni %></td>
                <td><%= student.student_number %></td>
                <td><%= student.email %></td>
                <td><%= link_to 'Edit', edit_course_student_path(student.course, student), :class => "btn btn-success" %></td>
                <td><%= link_to 'Destroy', [student.course, student], :method => :delete, data: { :confirm => 'Are you sure?' }, :class => "btn btn-danger" %></td>
              </tr>
            <% end %>
          </table>

          <br>
          <%= link_to 'New Student', new_course_student_path(params[:course_id]), :class => "btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>
</div>