<div class="container col-lg-8">
  <div class="card mb-3 table-responsive">
    <img class="card-img-top" src="https://i.imgur.com/hu60s0B.jpg" alt="Card image cap">
    <div class="card-block">
      <div class="card-header">Listing scores</div>
        <div class="card-body">

          <% if !(@evaluation_instances.course.students.empty?) %>
            <%= simple_form_for @evaluation_instances, 
                                    url: course_evaluation_instance_upload_path(@evaluation_instances.course, @evaluation_instances), 
                                    method: :patch do |f| %>
                <table class="table table-hover table-bordered">
                  <thead>
                    <th>Student</th>
                    <th>Score</th>
                  </thead>
                  <tbody>
                      <%= f.fields_for :scores, @evaluation_instances.scores do |s| %>
                      <tr>
                        <td>
                          <%= s.object.student.summary %>
                        </td>
                        <td>
                          <%= s.number_field :score, class: 'form-control', label: false, :error => false %>
                          <%= s.hidden_field :student_id %>

                          <br>
                          <% if s.object.errors.any? %>
                            <div id="error_explanation" class="alert alert-danger">
                              <h6><%= pluralize(s.object.errors.count, "error") %> prohibited this student from being saved:</h6>
                              <ul>
                                <% s.object.errors.full_messages.each do |msg| %>
                                  <li class="font-italic"><%= msg %></li>
                                <% end %>
                              </ul>
                            </div>
                          <% end %>

                        </td>
                      </tr>
                    <% end %>
                  </tbody>
                </table>
              <%= f.button :submit, "Upload", class: "btn btn-primary" %>
            <% end %>
          <% end %>
          <br>
          <%= link_to 'Back', course_evaluation_instances_path(@evaluation_instances.course), :class => "btn btn-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>
