<% if @evaluation_instance.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(@evaluation_instance.errors.count, "error") %> prohibited this evaluation instance from being saved:</h4>
    <ul>
      <% @evaluation_instance.errors.full_messages.each do |msg| %>
        <li class="font-italic"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container col-md-12 col-md-offset-6"> 
  <%= simple_form_for([@evaluation_instance.course, @evaluation_instance]) do |f| %>
  <form>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.label :title %><br />
        <%= f.text_field :title, :class => "form-control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.label :date %><br />
        <%= f.date_select :date, {  :order => [:day, :month, :year], 
                                    :start_year => Time.current.year - 5, 
                                    :end_year => Time.current.year + 5
                                  }, 
                                  { :class => "form-control" } %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :passing_score %><br />
        <%= f.number_field :passing_score, :class => "form-control" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :top_score %><br />
        <%= f.number_field :top_score, :class => "form-control" %>
      </div>
      <div class="form-group col-md-12">
        <%= f.submit class: "btn btn-success" %>
      </div>
    </div>
  </form>

  <% end %>
</div>
