<% if @evaluation_instance.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(@evaluation_instance.errors.count, "error") %> prohibited this evaluation instance from being saved:</h4>
    <ul>
      <% @evaluation_instance.errors.full_messages.each do |msg| %>
        <li class="font-italic"><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="container col-md-12 col-md-offset-6"> 
  <%= simple_form_for([@evaluation_instance.course, @evaluation_instance]) do |f| %>
    <div class="form-row">
      <div class="form-group col-md-12">
        <%= f.input :title, :class => "form-control", required: true, :error => false  %>
      </div>
      <div class="form-group col-md-12">
        <%= f.input :date, as: :date, start_year: @evaluation_instance.course.year, end_year: @evaluation_instance.course.year + 1, order: [:day, :month, :year], required: true, :error => false %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :passing_score, :class => "form-control", required: true, :error => false  %>
      </div>
      <div class="form-group col-md-6">
        <%= f.input :top_score, :class => "form-control", required: true, :error => false  %>
      </div>
      <div class="form-group col-md-12">
        <%= f.button :submit, class: "btn btn-success" %>
      </div>
    </div>

  <% end %>
</div>
