<p id="notice"><%= notice %></p>
<div class="container col-md-8 col-md-offset-3">
  <h1>Listing evaluation instances</h1>

  <table class="table">
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Passing score</th>
      <th>Top score</th>
      <th scope="col" colspan="3" style="text-align:center;">Options</th>
    </tr>

  <% @evaluation_instances.each do |evaluation_instance| %>
    <tr>
      <td><%= evaluation_instance.title %></td>
      <td><%= evaluation_instance.date %></td>
      <td><%= evaluation_instance.passing_score %></td>
      <td><%= evaluation_instance.top_score %></td>
      <td><%= link_to 'Show', [evaluation_instance.course, evaluation_instance], :class => "btn btn-info" %></td>
      <td><%= link_to 'Edit', edit_course_evaluation_instance_path(evaluation_instance.course, evaluation_instance), :class => "btn btn-success" %></td>
      <td><%= link_to 'Destroy', [evaluation_instance.course, evaluation_instance], :confirm => 'Are you sure?', :method => :delete, :class => "btn btn-danger" %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Evaluation instance', new_course_evaluation_instance_path(params[:course_id]), :class => "btn btn-primary" %>
</div>
