<div class="container col-md-6 col-md-offset-3">
<div class="card">
    <h4 class="card-header bg-dark text-white">Showing evaluation instance
        <div class="float-right small">
          <%= link_to 'Edit', edit_course_evaluation_instance_path(@evaluation_instance.course, @evaluation_instance), :class => "btn btn-success" %>
        </div>
    </h4>
    <div class="card-body text-centered">
      <div class=" col-md-12 col-lg-12 "> 
        <table class="table">
          <tbody>
            <tr>
                <td>Title:</td>
                <td> <%= @evaluation_instance.title %> </td>
            </tr>
            <tr>
                <td>Date:</td>
                <td> <%= @evaluation_instance.date %> </td>
            </tr>
            <tr>
                <td>Passing core:</td>
                <td> <%= @evaluation_instance.passing_score %> </td>
            </tr>
            <tr>
                <td>Top core:</td>
                <td> <%= @evaluation_instance.top_score %> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<br>

<%= link_to 'Back', course_evaluation_instances_path(@evaluation_instance.course), :class => "btn btn-secondary" %>
</div>