<% if @course.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <h4><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h4>
    <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li class="font-italic"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for(@course) do |form| %>
  <div class="form-inline col-md-12">
    <div class="col-md-4">
      <%= form.label :year, label:false %>
    </div>
    <div class="col-md-4">
      <%= form.input :year, label:false, :error => false, :class => "form-control", collection: (Time.zone.today.year - 5..Time.zone.today.year + 5).to_a.reverse, :include_blank => t(:select_year)%>
    </div>
    <div class="col-md-4">
      <%= form.submit class: 'btn btn-success' %>
    </div>
  </div>
<% end %>
