<p id="notice"><%= notice %></p>
<div class="container col-md-6 col-md-offset-3">
  <h1>Courses</h1>

  <table class="table">
  <thead>
    <tr>
      <th scope="col">Year</th>
      <th scope="col" colspan="6" style="text-align:center;">Options</th>
    </tr>
  </thead>

    <tbody>
      <% @courses.each do |course| %>
        <tr>
          <td><%= course.year %></td>
          <td><%= link_to 'Show', course, :class => "btn btn-info" %></td>
          <td><%= link_to 'Edit', edit_course_path(course), :class => "btn btn-success" %></td>
          <td><%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
          <td><%= link_to 'Students', course_students_url(course), :class => "btn btn-info" %> </td>
          <td><%= link_to 'Evaluation Instances', course_evaluation_instances_url(course), :class => "btn btn-info" %> </td>
          <td><%= link_to 'Summary', summary_course_path(course), :class => "btn btn-info" %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Course', new_course_path, :class => "btn btn-primary" %>
  
</div>
