<div class="container col-md-6 col-md-offset-3">
  <h1> Summary of the course <%= @course.year %> </h1>
  <table class="table">
    <thead>
        <tr>
            <th scope="col">Student</th>
            <% @evaluation_instances = @course.evaluation_instances %>
            <% @evaluation_instances.each do | anInstance | %>
                <th scope="col"><%= anInstance.title %></th>
            <% end %>
        </tr>
    </thead>

    <tbody>
      <% @course.students.each do |student| %>
        <tr>
          <td><%= student.summary %></td>
          <% @evaluation_instances.each do | anInstance | %>
            <% if anInstance.present_student? student  %>
                <% score = anInstance.score_of_student student %>
                <% if score.approved? %>
                    <td class="table-success"> Approved (<%= score.to_s %>) </td>
                <% else %>
                    <td class="table-danger"> Disapproved (<%= score.to_s %>) </td>
                <% end %>
            <% else %>
                <td class="table-warning"> Absent </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot class="table-striped table-dark">
        <tr>
            <td> Approved students </td>
            <% @evaluation_instances.each do | anInstance | %>
                <td><%= anInstance.number_of_approved %></td>
            <% end %>
        </tr>
        <tr>
            <td> Disapproved students </td>
            <% @evaluation_instances.each do | anInstance | %>
                <td><%= anInstance.number_of_disapproved %></td>
            <% end %>
        </tr>
        <tr>
            <td> Absent students </td>
            <% @evaluation_instances.each do | anInstance | %>
                <td><%= anInstance.number_of_absentees %></td>
            <% end %>
        </tr>
        <tr>
        <td> Percentage of approved </td>
            <% @evaluation_instances.each do | anInstance | %>
                <td><%= anInstance.percentage_of_approved %></td>
            <% end %>
        </tr>
    </tfoot>

  </table>
  
  <br>      
  <%= link_to 'Back', courses_path, class: 'btn btn-secondary' %>
</div>